
\.DS_Store

SimpleVideoFilter\.xcodeproj/project\.xcworkspace/xcuserdata/randy\.xcuserdatad/UserInterfaceState\.xcuserstate

SimpleVideoFilter\.xcodeproj/xcuserdata/randy\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist

SimpleVideoFilter\.xcodeproj/project\.xcworkspace/xcuserdata/randy\.xcuserdatad/IDEFindNavigatorScopes\.plist
